body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #85dcb8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin: 0 auto;
  width: 80%;
  background-color: #e27d60;
}

.navBar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navBarLinks {
  padding: 20px;
}

.buttons {
  border-radius: 6px;
  padding: 10px;
  border: none;
}

.buttons:hover {
  background-color: #a1c597;
  transition-duration: 0.5s;
}

.about-me-bio {
  width: 70%;
  margin: 0 auto;
}

.Projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 60px;
}

.contact-message {
  width: 50%;
  height: 40px;
}

.footer {
  padding-top: 20px;
  background-color: #a1c59700;
}
