body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(211, 211, 211, 0.671);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-weight: 700;
}

.header {
  margin: 0;
  width: 100%;
  background-color: #eb2eac;
}

.navBar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navBarLinks {
  padding: 20px;
}

.buttons {
  padding: 10px;
  display: inline-block;
  position: relative;
  font-size: large;
  font-weight: 600;
}

.buttons:hover {
  cursor: pointer;
}

.buttons:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  transition: transform 0.25s;
  background-color: black;
}

.buttons:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.about-me-bio {
  width: 70%;
  margin: 0 auto;
}

.about-me-text {
  font-size: 20px;
  font-weight: 500;
}

.Projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 20px;
}

.projects-title {
  margin-bottom: 40px;
}

.project-card {
  transition: 0.25s ease-in-out;
}
.project-card:hover {
  transform: scale(1.075);
}

.resume-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-image {
  margin: 30px;
}

.resume-link {
  text-decoration: none;
  color: black;
}

.resume-link:hover {
  color: black;
}

.contact-form {
  border: grey 2px solid;
  border-radius: 5px;
  width: 70%;
  position: relative;
  left: 15%;
  top: 5vh;
  padding-bottom: 10px;
}
.contact-input {
  border-radius: 10px;
  border: 2px grey solid;
  margin: 10px 0;
}

.contact-message {
  width: 50%;
  height: 60px;
  border-radius: 10px;
}

.submit-button {
  border: none;
  transition: 0.15s ease-in-out;
}

.submit-button:hover {
  box-shadow: 0px 0px 2px 1px black;
}

.footer {
  padding-top: 60px;
  background-color: #a1c59700;
}
